# coding: utf-8

"""
    chickenstats API

    API for downloading NHL data

    The version of the OpenAPI document: 0.1.5
    Contact: chicken@chickenandstats.com
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import StrictStr
from typing import Dict, Optional

from chickenstats_api.api_client import ApiClient, RequestSerialized
from chickenstats_api.api_response import ApiResponse
from chickenstats_api.rest import RESTResponseType


class BillingApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def create_checkout_session(
        self,
        tier: StrictStr,
        _request_timeout: Optional[Union[float, Tuple[float, float]]] = None,
    ) -> Dict[str, str]:
        """Create Checkout Session

        Create a Stripe Checkout session for the given tier and return its URL.  Created via a direct server-side Stripe API call rather than the Firebase extension's client-SDK pattern (Firestore-triggered function, meant for a JS SPA) -- this project's frontend is server-rendered. The extension's handleWebhookEvents function still processes the resulting checkout.session.completed event and sets the stripeRole claim, since Stripe fires the same webhook regardless of how the session was created.

        :param tier: (required)
        :type tier: str
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._create_checkout_session_serialize(
            tier=tier,
            _request_auth=None,
            _content_type=None,
            _headers=None,
            _host_index=0
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "Dict[str, str]",
            '422': "HTTPValidationError",
        }

        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def create_checkout_session_with_http_info(
        self,
        tier: StrictStr,
        _request_timeout: Optional[Union[float, Tuple[float, float]]] = None,
    ) -> ApiResponse[Dict[str, str]]:
        """Create Checkout Session

        Create a Stripe Checkout session for the given tier and return its URL.  Created via a direct server-side Stripe API call rather than the Firebase extension's client-SDK pattern (Firestore-triggered function, meant for a JS SPA) -- this project's frontend is server-rendered. The extension's handleWebhookEvents function still processes the resulting checkout.session.completed event and sets the stripeRole claim, since Stripe fires the same webhook regardless of how the session was created.

        :param tier: (required)
        :type tier: str
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._create_checkout_session_serialize(
            tier=tier,
            _request_auth=None,
            _content_type=None,
            _headers=None,
            _host_index=0
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "Dict[str, str]",
            '422': "HTTPValidationError",
        }

        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def create_checkout_session_without_preload_content(
        self,
        tier: StrictStr,
        _request_timeout: Optional[Union[float, Tuple[float, float]]] = None,
    ) -> RESTResponseType:
        """Create Checkout Session

        Create a Stripe Checkout session for the given tier and return its URL.  Created via a direct server-side Stripe API call rather than the Firebase extension's client-SDK pattern (Firestore-triggered function, meant for a JS SPA) -- this project's frontend is server-rendered. The extension's handleWebhookEvents function still processes the resulting checkout.session.completed event and sets the stripeRole claim, since Stripe fires the same webhook regardless of how the session was created.

        :param tier: (required)
        :type tier: str
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._create_checkout_session_serialize(
            tier=tier,
            _request_auth=None,
            _content_type=None,
            _headers=None,
            _host_index=0
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "Dict[str, str]",
            '422': "HTTPValidationError",
        }

        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _create_checkout_session_serialize(
        self,
        tier,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        if tier is not None:
            
            _query_params.append(('tier', tier))
            
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'OAuth2PasswordBearer'
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/api/v1/billing/checkout',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )




    @validate_call
    def create_portal_session(
        self,
        _request_timeout: Optional[Union[float, Tuple[float, float]]] = None,
    ) -> Dict[str, Optional[str]]:
        """Create Portal Session

        Create a Stripe customer billing-portal session and return its URL.  Finds the customer by email -- the Firebase extension already creates a Stripe customer per Firebase user (\"Sync new users to Stripe customers\"), so no separate customer-ID storage is needed here.

        :return: Returns the result object.
        """ # noqa: E501

        _param = self._create_portal_session_serialize(
            _request_auth=None,
            _content_type=None,
            _headers=None,
            _host_index=0
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "Dict[str, Optional[str]]",
        }

        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def create_portal_session_with_http_info(
        self,
        _request_timeout: Optional[Union[float, Tuple[float, float]]] = None,
    ) -> ApiResponse[Dict[str, Optional[str]]]:
        """Create Portal Session

        Create a Stripe customer billing-portal session and return its URL.  Finds the customer by email -- the Firebase extension already creates a Stripe customer per Firebase user (\"Sync new users to Stripe customers\"), so no separate customer-ID storage is needed here.

        :return: Returns the result object.
        """ # noqa: E501

        _param = self._create_portal_session_serialize(
            _request_auth=None,
            _content_type=None,
            _headers=None,
            _host_index=0
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "Dict[str, Optional[str]]",
        }

        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def create_portal_session_without_preload_content(
        self,
        _request_timeout: Optional[Union[float, Tuple[float, float]]] = None,
    ) -> RESTResponseType:
        """Create Portal Session

        Create a Stripe customer billing-portal session and return its URL.  Finds the customer by email -- the Firebase extension already creates a Stripe customer per Firebase user (\"Sync new users to Stripe customers\"), so no separate customer-ID storage is needed here.

        :return: Returns the result object.
        """ # noqa: E501

        _param = self._create_portal_session_serialize(
            _request_auth=None,
            _content_type=None,
            _headers=None,
            _host_index=0
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "Dict[str, Optional[str]]",
        }

        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _create_portal_session_serialize(
        self,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
            'OAuth2PasswordBearer'
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/api/v1/billing/portal',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


