# GitHub workflow file that tests package in Python version 3.10 - 3.12
name: build

# Trigger the action when releases are published
on:
  push:
    branches:
      - test
  workflow_call:
  workflow_dispatch:

jobs:

  # Setting up test environment
  test:

    strategy:
      # We don't want the worker to fail because the job is taking too long
      fail-fast: false
      # This is the testing matrix
      matrix:
        # There will be three tests, one for each Python and tox environment
        python: ['3.10', '3.11', '3.12', '3.13']
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - python: 3.10
            tox: 'py310'
          - python: 3.11
            tox: 'py311'
          - python: 3.12
            tox: 'py312'
          - python: 3.13
            tox: 'py313'
          - os: windows-latest
            os-alt: win
          - os: macos-latest
            os-alt: mac
          - os: ubuntu-latest
            os-alt: lin

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Homebrew
        if: matrix.os == 'macos-latest'
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install libomp
        if: matrix.os == 'macos-latest'
        run: brew install libomp

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Add .local/bin to Windows PATH
        if: runner.os == 'Windows'
        shell: bash
        run: echo "$USERPROFILE/.local/bin" >> $GITHUB_PATH


      - name: Set up Python
        run: uv python install ${{ matrix.python }}

      - name: Install the project
        run: uv sync --all-extras --dev --python ${{ matrix.python }}

      - name: Install tox
        run: uv tool install tox --with tox-uv --with tox-gh
        env:
          GITHUB_ACTIONS: true
          TOX_GH_MAJOR_MINOR: ${{ matrix.python }}

      - name: Setup test suite
        run: tox run --conf ./sdk/tox.ini --workdir ./sdk -vv --notest --skip-missing-interpreters false
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.python }}

      - name: Run tox
        run: tox run --conf ./sdk/tox.ini --workdir ./sdk # --skip-pkg-install

        env:
          GITHUB_ACTIONS: true
          TOX_GH_MAJOR_MINOR: ${{ matrix.python }}
          COVERAGE_FILE: ./.coverage.${{ matrix.tox }}-${{ matrix.os-alt }}


